<div class="row">
    <div class="col-md-12 general-block-decorator">
        <div class="row">
            {if $order_creation_error}
            <div class="col-md-12">
                <div class="alert alert-danger">{$order_creation_error}</div>
            </div>
            {/if}
            {if $order_creation_success}
            <div class="col-md-12">
                <div class="alert alert-success">{$order_creation_success}</div>
            </div>
            {/if}
            <div class="col-md-12 title title-without-tabs">
                {intl l="Create an order for this customer" d='ordercreation'}
            </div>
            <div class="col-md-12">
                {loop type="auth" name="can_create" role="ADMIN" resource="admin.ordercreation" access="CREATE"}
                <a class="btn btn-default btn-primary action-btn" title="{intl l='Generate a new order' d='ordercreation'}" href="#order_create_dialog" data-toggle="modal">
                    <span>{intl l="Generate a new order" d="ordercreation"}</span>
                </a>
                {/loop}
            </div>
        </div>
    </div>
</div>

{* -- Create a new order -------------------- *}
{include file="forms/create-order-form.html"}