<div class="row">
    <div class="col-md-12 general-block-decorator">
        <div class="row">
            <div class="col-md-12 title title-without-tabs">
                {intl d='ordercreation.bo.default' l="Configuration du module de création de commande en BO"}
            </div>
        </div>

        <div class="form-container">
            <div class="row">
                <div class="col-md-12">
                    {form name="admin.order.creation.form.configure"}
                        <form action="{url path="/admin/module/OrderCreation/configure"}" method="post">
                            {form_hidden_fields form=$form}

                            {include file = "includes/inner-form-toolbar.html"
                            hide_flags = true
                            page_url   = "{url path='/admin/module/OrderCreation'}"
                            close_url  = "{url path='/admin/modules'}"
                            }

                            {if $form_error}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-danger">{$form_error_message}</div>
                                    </div>
                                </div>
                            {/if}

                            <div class="row">

                                <div class="col-sm-6">
                                    {form_field field="order_creation_delivery_module_id"}
                                        <div class="form-group {if $error}has-error{/if}">
                                            <label for="{$label_attr.for}" class="control-label">{$label} : </label>
                                            <input type="hidden" name="{$name}" id="delivery-module" value="{$value}" />
                                            <select id="delivery_module_id_select">
                                                <option value="">{intl d='ordercreation.bo.default' l='No default delivery module (default)'}</option>
                                                {loop type="module" name="delivery-module" backend_context=1 module_type="2"}
                                                    <option value="{$ID}" {if $value == $ID}selected="selected"{/if}>{$CODE} - {$TITLE}</option>
                                                {/loop}
                                            </select>
                                        </div>
                                    {/form_field}
                                </div>
                            </div>
                        </form>
                    {/form}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 general-block-decorator">
        <div class="row">
            <div class="col-md-12 title title-without-tabs">
                {intl d='ordercreation.bo.default' l="Configuration de redirection de paiement"}
            </div>
        </div>

        <form action="{url path="/admin/module/OrderCreation/configure-redirects-payment"}" method="post">
            {form name="admin.order.redirects.payment.form"}

            {form_hidden_fields form=$form}

            {if $form_error}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">{$form_error_message}</div>
                    </div>
                </div>
            {/if}

            <div class="row">
                <div class="col-sm-6">
                    {form_field field="order_creation_redirects_payment"}
                    <select name="{$name}[]" id="" multiple>
                        {loop type="module" name="delivery-module" backend_context=1 module_type="3" active="1"}
                            {$value}
                            <option value="{$ID}" {if $ID|in_array:$value} selected="selected"{/if}>{$CODE} - {$TITLE}</option>
                        {/loop}
                    </select>
                    {/form_field}
                </div>
            </div>

            {include file = "includes/inner-form-toolbar.html"
                hide_flags = true
                page_url   = "{url path='/admin/module/OrderCreation'}"
                close_url  = "{url path='/admin/modules'}"
            }

        </form>
        {/form}
    </div>
</div>
{block name="javascript-last-call"}
    <script type="text/javascript">
        window.onload = function () {
            $('#delivery_module_id_select').on('change', function () {
                $('#delivery-module').val($(this).val());
            });
        };
    </script>
{/block}