<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>OrderCreation\OrderCreation</fullnamespace>
    <descriptive locale="en_US">
        <title>Order creation in back-office</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Creation de commande depuis l'administration</title>
    </descriptive>
    <version>2.0.0</version>
    <author>
        <name>gbarral</name>
        <email>gbarral@openstudio.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.5.0</thelia>
    <stability>prod</stability>
</module>
